*{
    padding:0;
    margin:0;
}
body{
    height: 200vh;
}
.container{
    display: flex;
    flex-direction: column;
}
.header{
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: white;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: montserrat;
    color:#8ba046;
}
.vegan{
    letter-spacing: 0.6em;
}
nav{
    padding-top: 0;
}
.menu{
    margin-top: 7px;
    margin-bottom: 10px;
    width:90vw;
    display: flex;
    justify-content: space-between;
    list-style-type: none;


}
.menu-items{
    padding-right: 30px;
}
a{
    text-decoration: none;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
}
.logo{
    padding-top: 20px;
    font-family: montserrat;
  
}
.first-page{
    z-index: -1;
    width: 100vw;
    height: 100vh;
}
.background-image{
width: 100vw;
object-fit: contain;

}
.introduction{
  font-size: 90px;
  text-align: center;
  color: white;
   font-family: 'Amatic SC', cursive;
  
}
.intro-container{
    max-width: 900px;
    min-width: 900px;
    position: absolute;
    right:40%;
    top:45%;
    transform: translateX(-50%);
    left:50%;
}
.menu-item:hover{
    color:#8ba046;
}

#hem:hover{
    color: #8ba046;
}
.offer{
    width: 100vw;
    height: 100vh;
    
}
.visable-img{
    position: absolute;
    top:0%;
    width: 100vw;
    max-height: 150px;
}
.offer-img{
overflow: hidden;
   width: 100vw;
   height: 100vh;
 
}