*{
    padding:0;
    margin:0;
}
html{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
body{
   height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
}
.header{
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: white;
    padding-bottom: 10px;
    z-index: 300;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: montserrat;
    color:#8ba046;
}
.vegan{
    letter-spacing: 0.6em;
}
nav{
    padding-top: 0;
  
}
.menu{
    margin-top: 7px;
    margin-bottom: 10px;
    width:100vw;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
.menu-items{
    padding-right: 30px;
    padding-left: 30px;
}
.menu-item{
    
}
a{
    text-decoration: none;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    width: 130px;
    text-align: center;
}

.logo{
    padding-top: 20px;
    font-family: montserrat;
  
}
.catering{
    width:40px;
    height:130px;
    display: none;
}
.first-page{
    z-index: -1;
    width: 100vw;
    height: 100vh;
    border-bottom: 10px solid white;
}
.background-image{
width: 100vw;
height: 100vh;
object-fit: cover;


}
.introduction{
  font-size: 90px;
  text-align: center;
  color: white;
   font-family: 'Amatic SC', cursive;
}
.green-dagar{
    color: #ccf152;
}
.intro-container{
    max-width: 900px;
    min-width: 900px;
    position: absolute;
    top:40%;
    transform: translateX(-50%);
    left:50%;
    
}
.menu-item:hover{
    color:#8ba046;
}

#hem:hover{
    color: #8ba046;
}
.offer{
    width: 100vw;
    height: 100vh;
}

.offer-img{
   overflow: hidden;
   width: 100vw;
   height: 100vh;
   object-fit:cover;
   z-index: -3;
  
}
.offer-title{
  padding-bottom: 20px;
  font-size: 100px;
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 10px;
}
.offer-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    position: absolute;
    height: 100vh;
    font-family: montserrat;
    color: white;
  
}
.offer-text-container p{
    max-width: 60vw;
    font-size: 20px;
}
.offer-description-title{
    font-family: 'PT Sans Narrow', sans-serif;
    margin-top: 50px;
    font-size: 60px;
    color: #8ba046;
    border-bottom: solid #8ba046 3px;
    margin-bottom: 100px;
    text-align: center;
}

.offer-description{
    width:100vw;
    max-height:fit-content;
}
.offer-description-container{
    height:300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
margin-bottom: 100px;
}
.offer-description p{
    font-size: 20px;
    padding: 0 60px 0 60px;
    font-family: montserrat;
    text-align: center;
    
}
.explore-offers{

    width: 300px;
    padding: 15px 0 15px 0;
    margin-top: 100px;
    border-radius: 30px;
    border:none;
    background-color: white;
    color: #8ba046;
    border: solid 2px #8ba046;
    font-size: 20px;
    margin: 0 auto;
}
.button-container{
    display: flex;
    justify-content: center;
}

.explore-offers:hover{
    background-color: #8ba046;
    color: white;
    text-align: center;
    
}
li:hover{
  color: #8ba046;
}

.img-gallery{
 height: 100vh;
 width: 100vw;
 display: flex;
 flex-direction: column;
 align-items: center;
}
.gallery-container{
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.gallery-img{
    width: 400px;
    object-fit: cover;
    padding: 5px;
}


/* menu section */
.menu-container{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu-suggestions{
    width: 100vw;
}
.menu-box{
    padding-top: 30px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}
.menu-items{
    /* width: 600px; */
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
.menu-box p{
    text-align: center;
}