*{
    padding:0;
    margin:0;
}
html{
   scroll-behavior: smooth;
   transition: 500ms;

}
body{
   height: 100vh;
}
img{
overflow: hidden;
}

.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: white;
    padding-bottom: 10px;
    padding-top: 5px;
    z-index: 300;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Comfortaa', cursive;
    color:#8ba046;
    margin-bottom: 10px;
}
.vegan{
    letter-spacing: 0.6em;
}
nav{
    padding-top: 0;
  
}
.menu{
    padding: 0px 0 10px 0;
    margin-bottom: 10px;
    width:100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
.menu-bar{
    border-bottom: #8ba046 1px solid;
    padding-bottom: 5px;
}
a{
    text-decoration: none;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    width: 130px;
    text-align: center;
    padding-bottom: 5px;
    
}

.logo{
    padding-top: 20px;
    font-family: 'Comfortaa', cursive;
  
}
.catering{
    width:40px;
    height:130px;
    display: none;
}
.dropdown-menu-container{
    height: 200px;
    background-color: #8ba046;
}
.first-page{
    z-index: -1;
    width: 100vw;
    height: 100vh;
    border-bottom: 10px solid white;
}
.background-image{
width: 100%;
height: 100%;

object-fit: cover;
}
.introduction{
  font-size: 30px;
  text-align: center;
  position: absolute;
  color: red;
   font-family: 'Amatic SC', cursive;
   margin-bottom: 100px;
}
.green-dagar{
    color: #ccf152;
}
.intro-container{
    top:40%;
    position: absolute;
    /* transform: translateX(-50%);
    left:50%; */
}
.offer{
    width: 100vw;
    height: 100vh;
}

.offer-img{
   width: 100%;
   height: 100%;
   object-fit:cover;
   z-index: -3;
  
}
.offer-title{
    text-align: center;
  padding-bottom: 20px;
  font-size: 100px;
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 10px;
}
.offer-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    position: absolute;
    height: 100vh;
    font-family: montserrat;
    color: white;
  
}
.offer-text-container p{
    padding-bottom: 20px;
    max-width: 60vw;
    font-size: 20px;
}
.offer-description-title{
    font-family: 'PT Sans Narrow', sans-serif;
    margin-top: 50px;
    font-size: 60px;
    color: #8ba046;
    border-bottom: solid #8ba046 3px;
    margin-bottom: 100px;
    text-align: center;
}

.offer-description{
    width:100vw;
    max-height:fit-content;
}
.offer-description-container{
    height:300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
margin-bottom: 150px;
}
.offer-description p{
    font-size: 20px;
    padding: 0 60px 0 60px;

    font-family: montserrat;
    text-align: center;
    line-height:40px
    
}
.explore-offers{
    width: 300px;
    height: 50px;
    margin-top: 100px;
    border-radius: 30px;
    border:none;
    background-color: #8ba046;
    color: white;
    font-size: 25px;
    margin: 0 auto;
    font-family: 'Comfortaa', cursive;
}
#menu-button{
    width:300px
}
.button-container{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.explore-offers:hover{
 
    text-align: center;
    transition: 200ms;
    font-size: 28px;
}
li{
    padding-bottom: 3px;
  
}
li:hover{
  color: #8ba046;
  transition: 200ms;
  transform:scale(1.1);
}

.img-gallery{
 margin-top: 20px;
 width: 100vw;
 display: flex;
 flex-direction: column;
 align-items: center;
}
.gallery-container{
  width: 100%;
  height: 60%;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.gallery-img{
    width: 400px;
    object-fit: cover;
    padding: 5px;
}


/* menu section */
.menu-container{
   
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu-suggestions{
    width: 100vw;
}
.menu-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    padding-top: 0;
    width: 400px;
    border-left:1px solid #8ba046;
    border-right:1px solid #8ba046;
   
}
.menu-box p {
    border-top: #8ba046;
    width:100%;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-size: 30px;
  height: 100%;
  padding-bottom: 30px;
  padding-top: 20px;
  background-color: white;
  color: #8ba046;
  
}
.menu-items{
    max-width: 1300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px;
    padding-right: 30px;
    padding-left: 30px;

}
.menu-box h1{
    width: 100%;
    color: white;
    background-color: #8ba046;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 40px;
    margin-bottom: 0px;
    padding: 15px 0 15px 0;
}
.menu-suggestions h1{
    font-family: 'Comfortaa', cursive;
    letter-spacing: 5px;
    font-size: 30px;
    
   
}
.menu-suggestions{
   
    text-align: center;
}
/* catering-sida */
.menu-section{
    width: 100vw;
    height: 130vh;
    display: flex;
    justify-content: center;
}
.menu-section-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 130vh;
    margin-top: 50px;
    width: 100vw;
}
.menu-section-container img{
    width: 400px;
}
.menu-items-container{
    width: 1300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-bottom: 100px;
    padding: 0 20px 0 20px;
}
.menu-section-items{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu-section h2{
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    padding: 30px 0 30px 0;
}
.menu-section h1{
    font-size: 30px;
    font-family: 'Comfortaa', cursive;
    padding: 100px 0 0px 0;
}
/* festvåning sida */
.container-party-intro{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-party-intro img{
    width: 100vw;
    height: 100vh;
}
.container-party-intro h1{
    font-size: 100px;
}
.img-overlay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    position: absolute;
    height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}
.img-overlay button{
    margin-top: 50px;
    width: 250px;
    height:50px;
    border: none;
    background-color: #8ba046;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
}
#party-button-link{
    transition: 400ms;
}
.img-overlay button:hover{
    font-size: 23px;
    transition: 200ms;
}
#party-button-link{
    width: 250px;
}

.party-description{
    padding: 50px 50px 50px 50px;
    display: flex;
    justify-content: center;
    gap: 200px;
    border-bottom: #8ba046 solid 2px;
}
.party-description h2{
    font-family: 'Comfortaa', cursive;
    font-size: 55px;
}
.party-contact{
    text-align: start;
}

.party-description p {
    margin-top:40px;
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
}
.party-description button{
    margin-top: 45px;
    border-radius: 70px;
    width: 100%;
    height: 100px;
    font-size: 30px;
    color: white;
    border:none;
    background-color: #8ba046;
}
.party-description button:hover{
    font-size: 35px ;
    transition: 300ms;
}
.party-gallery{
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    gap:20px;
}
.party-gallery img{
    height: 400px;
}
#party-title{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 90px;
    color: black;
    margin: 30px 0 30px 0;
}
.party-gallery-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* kontaktsida */
.container-contact{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-contact h1{
    margin-bottom: 50px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 70px;
}
.contact-content{
    display: flex;
   justify-content: center;
    width: 100%;
    gap: 50px;

}
.contact-content img{
    width: 800px;
    height: fit-content;
}
.socials{
    font-family: 'Comfortaa', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-left: #8ba046 solid 2px;
    width: 300px;
}
.subject{
    width: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    font-family: 'Josefin Sans', sans-serif;
}


#content{
    font-family: 'Josefin Sans', sans-serif;
    border: #8ba046 2px solid;

}
#subject{
    font-family: 'Josefin Sans', sans-serif;
    border: #8ba046 2px solid;
    width:100%;
    height: 40px;
    font-size: 25px;
    padding-top: 0;
    text-align: top;
}
label{
    font-family: 'Comfortaa', cursive;
}
#content{
    width: 100%;
    height: 300px;
    margin-top: 10px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.form h2{
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
}
.message button{
    margin-top: 20px;
    border-radius: 30px;
    font-size: 15px;
    height: 50px;
    width: 100%;
    background-color: #8ba046;
    font-family: 'Comfortaa', cursive;
    border:none;
    color: white;
}
.message button:hover{
    font-size: 20px;
    transition: 300ms;
}

.mail h3{
    color: rgb(189, 191, 193);
}
.telefon{
    display: flex;
    flex-direction: column;

    color: #909090;
    font-size: 12px;
}

.instagram{
    display: flex;
    align-items: center;
}
.mail {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.socials a{
    padding:0;
    font-size: 20px;
    height: 13px;
    color: #909090;
    padding: 0;
    margin-left: 15px;
}
.socials{
    padding: 30px 0 30px 0;
    display: flex;

}

.facebook{
    display: flex;
    align-items: center;
}
#insta-icon{
    width: 25px;
    transition: 200ms;
    opacity: 0;
}
#facebook-icon{
    opacity: 0;
    width: 22px;
    transition: 200ms;
}

/* hamburger meny */
#hamburger-menu{
    position: absolute;
    left: 0;
    visibility: hidden;
}
.hamburger-bar{
    transition: 200ms;
    width: 30px;
    height: 3px;
    margin: 5px;
    background-color: black;
    border-radius: 2px;
}
#hamburger-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 0;
    border: red 1px solid;
    width: 100vw;
    height: 100vh;
    background-color: #8ba046;
    transform: translateX(-100vw);
    transition: 300ms;
    font-size: 20px;
}
#hamburger-links a{
    color: white;
    transition: 500ms;
}
#hamburger-icon{
    transform: translateX(20px);
}


/* optimering för mindre skärmar */

@media screen and (max-width:790px) {
    .offer-description-container{
        height: auto;
        margin-bottom: 0;
    }
    nav {
        display: none;
    }
    #hamburger-menu{
      visibility: visible;
    }
    .menu-items{
        padding:0px;
        margin:0;
    }
    .menu-box{
        padding: 0;
    }
    .offer-description-title{
        margin:0;
    }
    .contact-content{
        flex-direction: column;
        width: 100vw;
        margin-top: 100px;
    }
    .contact-content img{
      
        width: 100%;
    }
    .subject{
        width: 100%;
    }
    .message{
       
    }
}


